node_modules
tags.json
docs/.DS_Store
common/admin.json
common/bannedWords.json
common/coinsCG.json
common/keys.api
common/shortcuts.json
common/metadata.json
common/coinsCGtickers.json
.DS_Store
stuff
graviex
.vs
.jshintrc
*.png
chartscreens
.vscode
common/coins.json
common/coins_filtered.json
common/help.json
common/msg_id
common/serverPerms.json
common/puppeteer-cache
common/cgCache.json
